// @mixin orange($orange);
@import "../Utils/Mixins/Mixins.scss";

html {
  background: black;
}

.App {
  text-align: center;
  background: $white;
  margin: auto;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  color: $darkBlue;

  @include breakpoint(xxl) {
    font-size: 1.8em;
  }
  @include breakpoint(xl) {
    font-size: 1.6em;
  }
  header {
    display: flex;
    // height: 100%;
    @include breakpoint(m) {
      // margin-bottom: 1em;
    }
  }
  video {
    // width: 100%;
    // position: absolute;
    // bottom: 0;
    // z-index: 50;
  }
  .page-wrapper {
    width: 92%;
    margin: auto;
    @include breakpoint(xxs, xs, s, m) {
      width: 100%;
    }
  }
  .covid-banner {
    color: black;
    background: $orange;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.2em;
    display: flex;
    justify-content: center;
    // position: absolute;
    img {
      width: 1em;
      align-self: center;
      margin-right: 0.1em;
    }
    // line-height: 0.85em;
    // font-size: 0.85em;
    // span {
    //   background: black;
    //   // border-radius: 25%;
    //   padding: 0 0.125em;
    //   border: 1px solid black;
    //   color: white;
    //   margin-right: 1%;
    // }
  }
  .hcGzIK svg,
  .hcGzIK path {
    fill: red !important;
    color: goldenrod !important;
  }
}
