// @mixin orange($orange);
@import "../Utils/Mixins/Mixins.scss";

html {
  background: black;
}

.App {
  text-align: center;
  background: $white;
  margin: auto;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  color: $darkBlue;

  @include breakpoint(xxl) {
    font-size: 1.8em;
  }
  @include breakpoint(xl) {
    font-size: 1.6em;
  }
  header {
    display: flex;
    // height: 100%;
    @include breakpoint(m) {
      // margin-bottom: 1em;
    }
  }
  video {
    // width: 100%;
    // position: absolute;
    // bottom: 0;
    // z-index: 50;
  }
  .page-wrapper {
    width: 94%;
    margin: auto;
    @include breakpoint(xxs, xs, s, m) {
      width: 98%;
      margin: auto;
    }
  }
  .covid-banner {
    color: $lightBlue;
    background: $royalBlue;
    width: 100%;
    margin: 0 auto;
    padding: 0.25em 0 0.5em;
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    // position: absolute;

    img {
      width: 1.2em;
      align-self: center;
      margin-right: 0.25em;
    }
  }
  .hcGzIK svg,
  .hcGzIK path {
    fill: red !important;
    color: goldenrod !important;
  }
}
