// @mixin orange($orange);
@import "../Utils/Mixins/Mixins.scss";

html {
  background: black;
}

.App {
  text-align: center;
  background: $white;
  margin: auto;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  color: $darkBlue;

  @include breakpoint(xxl) {
    font-size: 1.8em;
  }
  @include breakpoint(xl) {
    font-size: 1.6em;
  }
  header {
    display: flex;
    // height: 100%;
  }
  video {
    width: 100%;
  }
  .page-wrapper {
    width: 92%;
    margin: auto;
  }
}
