.price-chart {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #424851;
  color: white;
  width: 95%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2% auto 15%;
  padding-bottom: 4em;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 70%;
}

@media (min-width: 737px) and (max-width: 980px) {
  .price-chart {
    margin: 5% auto;
  }
}

.price-chart .col {
  width: 17.5%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin-top: 1.5em;
}

.price-chart .col:last-child {
  border-right: 3px solid #393d44;
}

@media (min-width: 1681px) {
  .price-chart .col:last-child {
    border-right: 5px solid #393d44;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .price-chart .col:last-child {
    border-right: 5px solid #393d44;
  }
}

.price-chart .col div {
  height: 30%;
  padding: 0.5em 0;
}

.price-chart .col div h5,
.price-chart .col div p,
.price-chart .col div span {
  text-shadow: 3px 3px 3px black;
}

.price-chart .col div h5 {
  margin: 0;
}

.price-chart .col div p {
  margin: 0;
  margin-bottom: 0.2em;
}

.price-chart .col div span {
  font-size: 1.5em;
  font-weight: 800;
}

.price-chart .col .row {
  height: 10%;
  margin: 0;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: inset 0.6em 0 1em #2a2d30;
          box-shadow: inset 0.6em 0 1em #2a2d30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-chart .col .row img {
  width: 18%;
}

.price-chart .col .blue-text {
  color: #1e92f6;
  font-weight: 600;
}

.price-chart .col .row-light {
  background: #3c4149;
}

.price-chart .col .row-dark {
  background: #5b626c;
}

.price-chart .col .start-now {
  color: goldenrod;
  padding-top: 0.2em;
  padding: 0.2em auto 0.1em;
  font-weight: 600;
}

@media (min-width: 981px) and (max-width: 1280px) {
  .price-chart .col .start-now {
    font-size: 0.85em;
  }
}

.price-chart .col-1 {
  width: 30%;
}

.price-chart .col-1 p:not(:first-child) {
  font-size: 0.8em;
}

.price-chart .col-1 p:first-child {
  font-size: 2em;
}

.price-chart .col-1 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#33373d), color-stop(69%, #424851));
  background: linear-gradient(0deg, #33373d 0%, #424851 69%);
}

.price-chart .col-2 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#e83e39), color-stop(95%, #c185b3));
  background: linear-gradient(0deg, #e83e39 0%, #c185b3 95%);
}

.price-chart .col-3 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#fcac31), color-stop(95%, #f9d39b));
  background: linear-gradient(0deg, #fcac31 0%, #f9d39b 95%);
}

.price-chart .col-4 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#2f9c52), color-stop(95%, #96ca6b));
  background: linear-gradient(0deg, #2f9c52 0%, #96ca6b 95%);
}

.price-chart .col-5 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#2c2f48), color-stop(95%, #393f76));
  background: linear-gradient(0deg, #2c2f48 0%, #393f76 95%);
}
/*# sourceMappingURL=pricing.css.map */