@import "../Utils/Mixins/Mixins.scss";
//todo xxs-m new design
.price-chart {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  background: #424851;
  color: white;
  width: 95%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2% auto 15%;
  padding-bottom: 4em;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  // overflow: hidden;

  // @include breakpoint(xxl, xl) {
  width: 70%;
  // }

  @include breakpoint(m) {
    margin: 5% auto;
  }
  .col {
    width: 17.5%;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    margin-top: 1.5em;
    // padding: 1%;

    &:last-child {
      border-right: 3px solid #393d44;
      @include breakpoint(xxl, xl) {
        border-right: 5px solid #393d44;
      }
    }
    div {
      height: 30%;
      padding: 0.5em 0;
      @include breakpoint(xl, l) {
        // margin: 1em 0;
      }

      h5,
      p,
      span {
        text-shadow: 3px 3px 3px black;
      }

      h5 {
        margin: 0;
      }
      p {
        margin: 0;
        margin-bottom: 0.2em;
      }
      span {
        font-size: 1.5em;
        font-weight: 800;
      }
    }

    .row {
      height: 10%;
      margin: 0;
      width: 100%;
      overflow: hidden;
      box-shadow: inset 0.6em 0 1em #2a2d30;
      // padding: 1%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 18%;
      }
    }
    .blue-text {
      color: $lightBlue;
      font-weight: 600;
    }
    .row-light {
      background: #3c4149;
    }
    .row-dark {
      background: #5b626c;
    }
    .start-now {
      color: goldenrod;
      padding-top: 0.2em;
      padding: 0.2em auto 0.1em;
      font-weight: 600;
      @include breakpoint(l) {
        font-size: 0.85em;
      }
    }
  }

  .col-1 {
    width: 30%;
    p:not(:first-child) {
      font-size: 0.8em;
    }
    p:first-child {
      font-size: 2em;
    }

    div {
      background: linear-gradient(0deg, #33373d 0%, #424851 69%);
    }
  }
  .col-2 {
    div {
      background: linear-gradient(0deg, #e83e39 0%, #c185b3 95%);
    }
  }
  .col-3 {
    div {
      background: linear-gradient(0deg, #fcac31 0%, #f9d39b 95%);
    }
  }
  .col-4 {
    div {
      background: linear-gradient(0deg, #2f9c52 0%, #96ca6b 95%);
    }
  }
  .col-5 {
    div {
      background: linear-gradient(0deg, #2c2f48 0%, #393f76 95%);
    }
  }
}
