@import "../../Utils/Mixins/Mixins.scss";

.website-programming-coding {
  img {
    width: 100%;
    height: 60vh;
    border-bottom: 2px outset $darkBlue;

    @include breakpoint(m) {
      height: 50vh;
    }
    @include breakpoint(xxs, xs, s) {
      height: 35vh;
    }
  }

  .content {
    margin: auto 2em 2em;
    text-align: justify;

    .bold {
      font-weight: bold;
    }

    h2 {
      padding-left: 1em;
      //  @include breakpoint(l) {

      //  }
    }

    ul {
      list-style: none;
      padding-left: 1.25em;

      li {
        margin: none;
        line-height: 1.4em;

        &::before {
          content: "•";
          color: $orange;
          font-size: 1.5em;
          margin-right: 0.45em;
        }

        @include breakpoint(xxs, xs, s, m) {
          margin-bottom: 0.25em;
        }
      }
    }
  }
}
