header {
  background-image: url("../../images/blue-backgrnd-globe.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header #flame {
  width: 7%;
}

@media (min-width: 981px) and (max-width: 1280px) {
  header #flame {
    width: 12%;
  }
}

header .blue-smoke {
  width: 35%;
  margin: auto;
  margin-left: 0.4%;
  padding-top: 0.5em;
}

header .blue-smoke img {
  width: 100%;
  height: 11vh;
}

header .blue-smoke p {
  font-size: 1.2em;
  color: #ee3e0e;
  margin: 0;
  text-shadow: 3px 3px #020723;
  white-space: nowrap;
  text-align: center;
  font-weight: 700;
  line-height: 1.75;
  text-align: center;
}

header .blue-smoke span {
  margin-top: 0.9em;
  font-weight: 700;
  -webkit-text-stroke: 0.5px #020723;
  font-size: 1.05em;
}

header .center {
  color: #d7dae6;
  width: 30%;
  margin: auto 0;
  text-align: left;
}

@media (min-width: 981px) and (max-width: 1280px) {
  header .center {
    width: 23%;
  }
}

header .center p {
  font-weight: 900;
  font-size: 1.4em;
  text-shadow: black 1px 4px 4px;
  letter-spacing: 2px;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

@media (min-width: 981px) and (max-width: 1280px) {
  header .center p {
    font-size: 1em;
  }
}

header .center p:nth-child(2) {
  text-align: right;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

header .center p span {
  text-transform: uppercase;
  color: #ee3e0e;
}

header .silhouette-div {
  width: 25%;
  position: relative;
}

header .silhouette-div .silhouettes {
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

header .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 27%;
  padding: 1%;
  background: #f83600;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #f83600), color-stop(80%, #facc22));
  background: linear-gradient(0deg, #f83600 10%, #facc22 80%);
}

header .cta p {
  margin: 7.5% auto;
  font-size: 1.3em;
  font-weight: 700;
}

header .cta p span {
  color: #020723;
  text-decoration: underline;
}

header .cta .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space space-around;
      -ms-flex-pack: space space-around;
          justify-content: space space-around;
  height: 40%;
  width: 80%;
  margin: auto;
}

header .cta .btns .cta-btn {
  margin: auto;
}

header .cta .btns .cta-mail {
  width: 45%;
  height: 65%;
}

@media (min-width: 981px) and (max-width: 1280px) {
  header .cta .btns .cta-mail {
    width: 43%;
    height: 63%;
  }
}

header .cta .btns .cta-phone {
  width: 25%;
  height: 65%;
}

@media (min-width: 981px) and (max-width: 1280px) {
  header .cta .btns .cta-phone {
    width: 20%;
    height: 45%;
  }
}
/*# sourceMappingURL=Header.css.map */