@import "../Utils/Mixins/Mixins.scss";
//todo breakpoints
//todo flame (white specs)
header {
  background-image: url("../../images/blue-backgrnd-globe.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  #flame {
    width: 7%;

    // padding-top: 1%;
    @include breakpoint(l) {
      width: 12%;
    }
  }

  @include breakpoint(mobile) {
    background-image: url("../../images/background_image_w_flame-only.png");
    width: 100%;
    height: 12vh;
  }

  .blue-smoke {
    width: 35%;
    margin: auto;
    margin-left: 0.4%;
    padding-top: 0.5em;

    img {
      width: 100%;
      height: 11vh;

      @include breakpoint(mobile) {
        // display: none;
        height: 7vh;
        width: 50%;
        margin: 4% auto;
      }
    }

    p {
      font-size: 1.2em;
      color: $orange;
      margin: 0;
      text-shadow: 3px 3px $darkBlue;
      white-space: nowrap;
      text-align: center;
      font-weight: 700;
      line-height: 1.75;
      text-align: center;
    }

    span {
      margin-top: 0.9em;
      font-weight: 700;
      -webkit-text-stroke: 0.5px $darkBlue;
      font-size: 1.05em;

      @include breakpoint(mobile) {
        display: none;
      }
    }
  }

  .center {
    color: $white;
    width: 30%;
    margin: auto 0.25em;

    p {
      font-weight: 900;
      font-size: 0.9em;
      text-shadow: black 1px 4px 4px;
      letter-spacing: 2px;
      margin-block-end: 0.5em;

      &:nth-child(2) {
        text-align: right;
        margin-block-start: 0;
      }

      span {
        text-transform: uppercase;
        color: $orange;
      }
    }
  }
  .silhouette-div {
    width: 25%;
    position: relative;

    .silhouettes {
      height: 80%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27%;
    padding: 1%;
    background: rgb(248, 54, 0);
    background: linear-gradient(
      0deg,
      rgba(248, 54, 0, 1) 10%,
      rgba(250, 204, 34, 1) 80%
    );

    p {
      margin: 7.5% auto;
      font-size: 1.3em;
      font-weight: 700;

      span {
        color: $darkBlue;
        text-decoration: underline;
      }
    }

    .btns {
      display: flex;
      justify-content: space space-around;
      height: 40%;
      width: 80%;
      margin: auto;

      .cta-btn {
        margin: auto;
      }

      .cta-mail {
        width: 45%;
        height: 65%;

        @include breakpoint(l) {
          width: 43%;
          height: 63%;
        }
      }

      .cta-phone {
        width: 25%;
        height: 65%;

        @include breakpoint(l) {
          width: 20%;
          height: 45%;
        }
      }
    }
  }
}
