@import "../Utils/Mixins/Mixins.scss";

footer {
  display: flex;
  justify-content: space-evenly;
  background: $royalBlue;
  padding-top: 2em;
  text-align: left;
  div {
    width: 16%;
    padding: 0 0.5em;
  }
  h3 {
    color: $orange;
    text-shadow: 2px 2px $darkBlue;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    list-style: none;

    li:hover {
      margin-left: 5%;
    }
    // todo text-align text w/ chevron
    li {
      padding: 0.5em 0;
      text-shadow: 1px 1px $darkBlue;
      transition: 0.3s ease-in-out;
      ::before {
        content: "> ";
        font-weight: 800;
        color: $orange;
      }
      :hover {
        color: goldenrod;
      }
      a {
        text-decoration: none;
        color: $lightBlue;
      }
    }
  }
}
.bottom {
  display: flex;
  color: $white;
  background: $darkBlue;
  justify-content: space-between;
  height: 15vh;
  .payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    color: $green;
  }
  .contact {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    align-items: center;
    text-transform: uppercase;
    p {
      color: $orange;
      text-align: right;
      margin: 0;
      margin-left: 0.8em;
      font-size: 1.2em;
      font-weight: 600;
    }
    .numbers {
      margin-right: 1em;
      a {
        color: $green;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}
