@import "../Utils/Mixins/Mixins.scss";

h1 {
  color: $royalBlue;
  margin-bottom: 0;
  margin-top: 1em;
}
span {
  text-align: left;
}
pre {
  margin-top: 0;
  text-align: left;
  white-space: pre-wrap;
  font-family: "poppins", sans-serif;
  background: $white;
  padding: 0.5em 1em;
  border: none;
  font-size: 1em;
  color: black;
}
