.home {
  z-index: 50;
}

.home video {
  width: 100%;
  height: 100%;
}

.home .globe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: url("../../images/globe-stretch-new.png");
  background-size: 101% 105%;
  background-repeat: no-repeat;
  height: 75vh;
  min-width: 80%;
  border-top: 0.5em solid #020723;
  border-bottom: 0.5em solid #020723;
}

@media (max-width: 360px) {
  .home .globe {
    height: 90vh;
    background-image: url("../../images/grey_background_globe-element_for_mobile.png");
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .globe {
    height: 90vh;
    background-image: url("../../images/grey_background_globe-element_for_mobile.png");
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe {
    height: 90vh;
    background-image: url("../../images/grey_background_globe-element_for_mobile.png");
  }
}

.home .globe p:first-child {
  text-align: center;
  font-weight: normal;
  width: 40%;
  margin: auto;
  margin-right: 55%;
  color: #d7dae6;
  margin-top: 7%;
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .globe p:first-child {
    font-size: 0.9em;
    text-align: left;
  }
}

@media (max-width: 360px) {
  .home .globe p:first-child {
    text-align: center;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .globe p:first-child {
    text-align: center;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe p:first-child {
    text-align: center;
    width: 90%;
    margin: auto;
  }
}

.home .globe p:first-child h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  color: #1e92f6;
  margin: 0 auto 0.5em;
  text-shadow: 2px 2px black;
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .globe p:first-child h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 360px) {
  .home .globe p:first-child h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .globe p:first-child h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe p:first-child h1 {
    font-size: 1.5em;
  }
}

.home .globe p {
  color: #1e92f6;
  margin-top: 2.5em;
  font-weight: 600;
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe p {
    margin-top: 1em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .globe p {
    margin-top: 1em;
  }
}

.home .globe p span {
  color: #ee3e0e;
}

.home .plans-pricing h1 {
  text-transform: uppercase;
  color: #ee3e0e;
  text-shadow: 2px 2px black;
  margin: 1.2em auto 0;
  font-size: 2.5em;
}

.home .plans-pricing h1 span {
  color: #1e92f6;
}

.home .plans-pricing .sub-text {
  margin: 0 auto 1.5em;
  font-size: 0.75em;
}

.home .plans-pricing .plans-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
}

@media (max-width: 360px) {
  .home .plans-pricing .plans-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .plans-pricing .plans-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .plans-pricing .plans-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .plans-pricing .plans-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home .plans-pricing .plans-card-container .plan-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .plans-pricing .plans-card-container .plan-card-set {
    width: 100%;
    margin-bottom: 9%;
  }
}

@media (max-width: 360px) {
  .home .plans-pricing .plans-card-container .plan-card-set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .plans-pricing .plans-card-container .plan-card-set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .plans-pricing .plans-card-container .plan-card-set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 3px inset goldenrod;
  width: 37%;
  padding: 1em 1em 0;
  color: #1e92f6;
  background: #04227a;
}

@media (max-width: 360px) {
  .home .plans-pricing .plans-card-container .plan-card-set .plan-card {
    width: 70%;
    height: 65vh;
    margin: 5% auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .plans-pricing .plans-card-container .plan-card-set .plan-card {
    width: 70%;
    height: 65vh;
    margin: 5% auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .plans-pricing .plans-card-container .plan-card-set .plan-card {
    width: 70%;
    height: 65vh;
    margin: 5% auto;
  }
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card:hover .line {
  width: 85%;
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card h3 {
  margin: 0;
  color: #ee3e0e;
  text-shadow: 2.5px 2.5px #020723;
  font-size: 1.5em;
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card h6 {
  margin-top: 3%;
  margin-bottom: 0;
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card hr {
  width: 40%;
  border: 0;
  border: 1px solid goldenrod;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 0.5em auto;
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card p {
  margin: 0 auto 3%;
  text-shadow: 2px 2px #020723;
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card .price {
  color: goldenrod;
  font-size: 3em;
  font-weight: 700;
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card a {
  margin: 0.5em auto 1em;
  padding: 0.4em;
  border: 1px solid #020723;
  -webkit-box-shadow: 2px 2px #020723;
          box-shadow: 2px 2px #020723;
  color: #020723;
  background: #1e92f6;
  text-decoration: none;
  font-weight: 600;
}

.home .plans-pricing .plans-card-container .plan-card-set .plan-card a:hover {
  color: #d7dae6;
  outline: 2px solid #ee3e0e;
}

.home .services h1 {
  text-transform: uppercase;
  color: #ee3e0e;
  text-shadow: 2px 2px black;
  margin: 1.2em auto 0.5em;
  font-size: 2.5em;
  width: 98%;
}

.home .services h1 span {
  color: #1e92f6;
}

.home .services .sub-text {
  margin: 0 auto 1.5em;
  font-size: 0.75em;
}

.home .services .services-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5% auto 13%;
}

@media (max-width: 360px) {
  .home .services .services-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .services .services-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .services .services-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .services .services-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home .services .services-card-container .service-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .services .services-card-container .service-card-set {
    width: 90%;
    margin: 1em auto;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .services .services-card-container .service-card-set {
    width: 90%;
    margin: 1em auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .services .services-card-container .service-card-set {
    margin-top: 0;
    padding-top: 0;
  }
}

@media (max-width: 360px) {
  .home .services .services-card-container .service-card-set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .services .services-card-container .service-card-set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.home .services .services-card-container .service-card-set .service-card {
  width: 45%;
}

@media (max-width: 360px) {
  .home .services .services-card-container .service-card-set .service-card {
    margin: 0 auto 35%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .services .services-card-container .service-card-set .service-card {
    margin: 0 auto 35%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .services .services-card-container .service-card-set .service-card {
    margin: 0 auto 35%;
  }
}

@media (max-width: 360px) {
  .home .services .services-card-container .service-card-set .service-card {
    width: 80%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .services .services-card-container .service-card-set .service-card {
    width: 80%;
  }
}

.home .services .services-card-container .service-card-set .service-card .service-card-front {
  border: 2px inset #f9d265;
  color: goldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #04227a;
  padding: 1em;
}

.home .services .services-card-container .service-card-set .service-card .service-card-front img {
  width: 50%;
  height: 20%;
  margin: 1em auto;
}

.home .services .services-card-container .service-card-set .service-card .service-card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1e92f6;
  color: #020723;
  padding: 1em 0.75em 0em;
  border: 1px inset #020723;
  position: absolute;
}

.home .services .services-card-container .service-card-set .service-card .service-card-back h3 {
  color: #020723;
  color: #ee3e0e;
  text-shadow: 2px 2px #020723;
  margin: 0 0 0.4em;
}

.home .services .services-card-container .service-card-set .service-card .service-card-back p {
  font-size: 0.85em;
  line-height: 1.3em;
}

.home .services .services-card-container .service-card-set .service-card .service-card-back p span {
  font-weight: 600;
}

.home .help {
  background: #333;
  padding-bottom: 5%;
}

.home .help h1 {
  text-transform: uppercase;
  color: #ee3e0e;
  text-shadow: 2px 2px black;
  padding-top: 1.5em;
  margin-bottom: 2em;
  font-size: 2.5em;
}

.home .help h1 span {
  color: #1e92f6;
}

.home .help .help-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5% auto 0;
}

@media (max-width: 360px) {
  .home .help .help-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .help .help-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .help .help-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .help .help-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home .help .help-card-container .help-card {
  width: 31%;
  background: #d7dae6;
  margin-bottom: 3em;
  padding-bottom: 1em;
}

@media (max-width: 360px) {
  .home .help .help-card-container .help-card {
    width: 70%;
    margin: 0 auto 13%;
    padding-bottom: 7%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .help .help-card-container .help-card {
    width: 70%;
    margin: 0 auto 13%;
    padding-bottom: 7%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .help .help-card-container .help-card {
    width: 70%;
    margin: 0 auto 13%;
    padding-bottom: 7%;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .help .help-card-container .help-card {
    width: 70%;
    margin: 0 auto 13%;
    padding-bottom: 7%;
  }
}

@media (max-width: 360px) {
  .home .help .help-card-container .help-card {
    margin-bottom: 15%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .help .help-card-container .help-card {
    margin-bottom: 15%;
  }
}

.home .help .help-card-container .help-card img {
  width: 20%;
  margin: -9% auto 0;
  outline: 2px outset #020723;
}

.home .help .help-card-container .help-card h3 {
  color: #f52618;
  text-shadow: 1px 1px #020723;
  letter-spacing: 0.125em;
  margin-bottom: 0;
}

.home .help .help-card-container .help-card p {
  padding: 0 1em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

.home .help .help-card-container .help-card p span {
  color: #ee3e0e;
  font-weight: 700;
  text-shadow: 0.5px 0.5px #020723;
}
/*# sourceMappingURL=Home.css.map */