@import "../Utils/Mixins/Mixins.scss";
.home {
  z-index: 50;
  width: 95%;
  margin: auto;
  @include breakpoint(xxs, xs, s, m) {
    width: 98%;
    margin: auto;
  }

  .globe {
    display: flex;
    flex-direction: row-reverse;
    background: url("../../images/globe-stretch-new.png");
    background-size: 101% 105%;
    background-repeat: no-repeat;
    padding: 2em 0 1.5em;
    margin-top: 3em;
    min-width: 80%;

    @include breakpoint(xxs, xs, s, m) {
      margin-top: 1em;
    }

    @include breakpoint(xxs, xs, s) {
      background-image: url("../../images/grey_background_globe-element_for_mobile.png");
    }

    div {
      text-align: center;
      font-weight: normal;
      width: 40%;
      margin: auto;
      margin-right: 55%;
      color: $white;
      @include breakpoint(l) {
        margin-top: 3%;
      }

      @include breakpoint(m) {
        font-size: 0.9em;
        text-align: left;
      }
      @include breakpoint(xxs, xs, s) {
        text-align: center;
        width: 90%;
        margin: auto;
      }

      h1 {
        display: inline-block;
        font-size: 2em;
        font-weight: bold;
        color: $lightBlue;
        margin: 0 auto 1em;
        // margin-bottom: 1em;
        text-shadow: 2px 2px black;
        line-height: 1.1em;

        @include breakpoint(m) {
          font-size: 1.6em;
        }
        @include breakpoint(xxs, xs, s) {
          font-size: 1.5em;
        }
      }
    }
    p {
      color: $lightBlue;
      margin-top: 2.5em;
      font-weight: 600;
      @include breakpoint(l) {
        margin-top: 2em;
      }

      @include breakpoint(s, m) {
        margin-top: 1em;
      }

      span {
        color: $orange;
      }
    }
  }
  .social-media {
    background: $royalBlue;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 4em auto 2em;
    @include breakpoint(xxs, xs, s, m) {
    }

    .content {
      display: flex;
      flex-direction: column;
      color: $white;
      margin: 2em;
      width: 80%;
      margin: 2em auto;
      text-align: left;

      h1 {
        font-weight: 900;
        text-transform: uppercase;
        color: goldenrod;
        // text-align: left;
        margin: 0;
        font-size: 2.3em;
        text-shadow: 3px 3px 1px #000;
      }

      video {
        // margin-left: 15%;
        margin: 1em auto 2em;
        width: 70%;
        border: 4px solid $darkBlue;
        @include breakpoint(xxs, xs, s, m) {
          width: 90%;
          // margin: auto;
        }
      }
      h2 {
        color: #ee3e33;
        font-weight: 600;
        margin: none;
        text-shadow: 2px 2px 0.5px #000;
      }
      a {
        background: $royalBlue;
        color: #ee3e33;
        padding: 0.2em;
        border-radius: 1em;
        font-weight: 500;
        text-shadow: 2px 2px 1px #000;
        font-size: 1.2em;
        &:hover {
          color: #7ff76f;
        }
      }
    }
  }
  .services {
    h1 {
      text-transform: uppercase;
      color: $orange;
      text-shadow: 2px 2px black;
      margin: 1.2em auto 0.5em;
      font-size: 2.5em;
      width: 98%;
      span {
        color: $lightBlue;
      }
    }
    .sub-text {
      margin: 0 auto 1.5em;
    }
    .services-card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 2em auto 0;

      .service-card {
        display: flex;
        flex-direction: column;
        width: 19%;
        background: $royalBlue;
        border: 5px inset $darkBlue;
        padding: 0em 1em 2em;
        position: relative;
        color: $lightBlue;
        margin-top: 1em;
        border-radius: 1em;
        @include breakpoint(m, l) {
          width: 32%;
          margin: 10% auto 10%;
        }
        @include breakpoint(xxs, xs, s) {
          width: 70%;
          margin: 18% auto;
        }

        img {
          width: 50%;
          margin: 0 auto;
          transform: translate(0, -60%);
        }
        h3 {
          color: goldenrod;
          margin: -10% auto 0;
          @include breakpoint(m, l) {
            margin: -20% auto 0;
          }
          @include breakpoint(xxs, xs, s) {
          }
        }
        a {
          color: $orange;
          &:hover {
            color: goldenrod;
          }
        }
      }
    }
  }
  .plans-pricing {
    margin-bottom: 5em;
    h1 {
      text-transform: uppercase;
      color: $orange;
      text-shadow: 2px 2px black;
      font-size: 2.5em;
      span {
        color: $lightBlue;
      }
    }
    .sub-text {
      margin: 0 auto 1.5em;
      font-size: 0.75em;
    }
    .plans-card-container {
      display: flex;
      justify-content: space-around;
      margin-top: 5%;
      @include breakpoint(xxs, xs, s, m) {
        flex-direction: column;
      }

      .plan-card-set {
        display: flex;
        justify-content: space-around;
        width: 50%;
        @include breakpoint(m) {
          width: 100%;
          margin-bottom: 9%;
        }
        @include breakpoint(xxs, xs, s) {
          flex-direction: column;
          width: 100%;
        }

        .plan-card {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          border: 3px inset goldenrod;
          width: 37%;
          padding: 1.5em 1em 2em;
          color: $lightBlue;
          background: $royalBlue;

          @include breakpoint(xxs, xs, s) {
            width: 70%;
            // height: 65vh;
            margin: 5% auto;
          }

          &:hover {
            .line {
              width: 85%;
            }
          }

          h3 {
            margin: 0;
            color: $orange;
            text-shadow: 2.5px 2.5px $darkBlue;
            font-size: 1.5em;
          }
          h6 {
            margin-top: 3%;
            margin-bottom: 0;
          }
          hr {
            width: 40%;
            border: 0;
            border: 1px solid goldenrod;
            transition: 0.5s ease-in-out;
            margin: 0.5em auto;
          }
          p {
            margin: 0 auto 3%;
            text-shadow: 2px 2px $darkBlue;
          }
          .price {
            color: goldenrod;
            font-size: 3em;
            font-weight: 700;
          }
          a {
            margin: 0.75em auto 1em;
            padding: 0.4em;
            border: 1px solid $darkBlue;
            box-shadow: 2px 2px $darkBlue;
            color: $darkBlue;
            background: $lightBlue;
            text-decoration: none;
            font-weight: 600;
            &:hover {
              color: $white;
              outline: 2px solid $orange;
            }
          }
        }
      }
    }
  }
}
// }
