@import "../Utils/Mixins/Mixins.scss";

//todo all services included in navbar
//todo fix dropdown
nav {
  display: flex;
  background: $darkBlue;
  padding: 0 15%;
  z-index: 100;
  justify-content: space-around;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  @include breakpoint(l) {
    padding: 0 7%;
  }

  @include breakpoint(xxs) {
    background: red;
  }
  @include breakpoint(xs) {
    background: orange;
  }
  @include breakpoint(s) {
    background: rgb(204, 193, 32);
  }
  @include breakpoint(m) {
    background: green;
  }
  @include breakpoint(l) {
    background: lightblue;
  }
  @include breakpoint(xl) {
    background: purple;
    //todo xl breakpoint not working??
  }
  @include breakpoint(xxl) {
    background: $white;
  }

  @include breakpoint(mobile) {
    display: none;
  }

  /* Links inside the navbar */
  .nav-item {
    color: $white;
    font-size: 1em;
    text-align: center;
    padding: 0.5em 0.65em;
    text-decoration: none;

    &:hover {
      color: $orange;
      transform: scale(1.1);
      transition: ease-in-out 150ms;
    }
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    position: relative;

    .drop-btn {
      border: none;
      background-color: inherit;

      @include breakpoint(mobile) {
        /* margin important for vertical align on mobile phones */
        margin: 0;
      }
    }

    &:hover .dropdown-content {
      display: flex;
    }

    &:hover .drop-btn {
      color: $orange;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 5;
      background: #020723;
      padding: 0.15em 1em 0.5em;
      opacity: 90%;
      width: min-content;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      justify-content: space-between;
      left: 0;
      right: 0;

      .nav-section {
        width: auto;

        &:nth-child(2) {
          width: 50%;

          .split {
            display: flex;
            justify-content: center;

            div {
              width: 50%;
            }
          }
        }

        h3 {
          color: $orange;
          text-decoration: underline;
          margin-bottom: 0.25em;
        }
      }
      .drop-item {
        float: none;
        color: $white;
        padding: 0.5em 1em;
        margin: 0.2em;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 0.85em;
        font-weight: inherit;
        min-width: min-content;
        width: 5em;

        &:hover {
          color: $orange;
          transform: scale(1.15);
          transition: ease-in-out 200ms;
        }
      }
    }
  }
}
