@import "../Utils/Mixins/Mixins.scss";
.social-media {
  margin: 5% auto 8%;
  width: 95%;
  text-align: justify;
  img {
    height: 40vw;
    width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 1.75em;
    color: $royalBlue;
  }
  ul {
    list-style: none;
    li {
      :before {
        content: "◆";
      }
    }
  }
}
