@import "../Utils/Mixins/Mixins.scss";

.portfolio-wrapper {
  background: $white;
  h1 {
    color: $royalBlue;
    margin-top: 1em;
    padding-top: 0em;
    font-size: 3em;
    @include breakpoint(xxs, xs, s) {
      margin-top: 0.5em;
    }
  }
  h2 {
    color: $orange;
    text-shadow: 1px 1px 2px $darkBlue;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .title-sm {
    @include breakpoint(xxs, xs, s) {
      display: none;
    }
  }
  .title-lg {
    @include breakpoint(m, l, xl, xxl) {
      display: none;
    }
  }
  .portfolio {
    display: flex;
    justify-content: space-between;
    @include breakpoint(xxs, xs, s) {
      flex-direction: column;
    }
    .categories {
      @include breakpoint(xxs, xs, s) {
        margin: auto;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 3em;
        //todo section off somehow
        @include breakpoint(xxs, xs, s) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        li {
          margin-bottom: 0.5em;
          word-spacing: 0.05em;
          white-space: nowrap;
          text-align: left;

          @include breakpoint(xxs, xs, s) {
            margin: 0.25em 0.45em;
          }
          a {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
    .projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      // margin: auto;
      width: 100%;

      .project {
        margin: 3em 2em;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
        width: 16em;

        @include breakpoint(m, l) {
          width: 13em;
          img {
            height: 13em;
            width: 13em;
          }
        }
        @include breakpoint(s) {
          width: 20em;
          img {
            height: 20em !important;
            width: 20em !important;
          }
        }
        @include breakpoint(xxs, xs) {
          width: 15em;
          img {
            height: 15em !important;
            width: 15em !important;
          }
        }

        .title {
          color: $lightBlue;
          text-shadow: 1px 1px $darkBlue;
          font-size: 1.75em;
          margin-bottom: 0.5em;
          margin-top: 0;
        }
        .card {
          box-shadow: 1px 2px 10px 2px $darkBlue;
          img {
            display: block;
            margin: auto;
            height: 16em;
            width: 16em;
          }
          .info {
            background: $royalBlue;
            color: white;
            margin-top: 0;
            text-align: left;
            padding: 0.75em 0.125em 0.85em;
            p,
            span,
            a {
              padding: 0 0.5em;
              margin-top: 0;
              text-align: center;
            }
            .btm {
              display: flex;
              justify-content: space-between;
              a {
                font-weight: 700;
                text-shadow: 2px 2px $darkBlue;
              }
            }
          }
        }
      }
    }
  }
}
