@import "../Utils/Mixins/Mixins.scss";

.portfolio {
  background: $darkBlue;
  //   background: $white;
  h1 {
    color: goldenrod;
    margin-top: 0;
    padding-top: 1.5em;
    font-size: 3em;
  }
  h2 {
    color: goldenrod;
    font-size: 2em;
  }

  .categories {
    display: none;
    ul {
      list-style: none;
      padding: 0;
      li {
        color: white;
      }
    }
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .project {
      margin: 3em 2em;
      min-width: -webkit-min-content;
      min-width: -moz-min-content;
      min-width: min-content;
      width: 20em;
      //   width: 20em;
      .title {
        color: darkorange;
        font-size: 1.5em;
        margin-bottom: 0.125em;
      }
      img {
        // margin-bottom: 0;
        // padding-bottom: 0;
        width: 100%;
        height: 22em;
      }
      .info {
        background: $orange;
        color: white;
        margin-top: 0;
        text-align: left;
        padding-bottom: 0.75em;
        // max-width: -webkit-min-content;
        // max-width: -moz-min-content;
        // max-width: min-content;
        p,
        span {
          padding: 0 0.45em;
          //   margin-top: 0;
        }
      }
    }
  }
}
