.portfolio-wrapper {
  background: #d7dae6;
}

.portfolio-wrapper h1 {
  color: #04227a;
  margin-top: 0;
  padding-top: 1em;
  font-size: 3em;
}

.portfolio-wrapper h2 {
  color: #04227a;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-wrapper .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 360px) {
  .portfolio-wrapper .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .portfolio-wrapper .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .portfolio-wrapper .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 360px) {
  .portfolio-wrapper .portfolio .categories {
    margin: auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .portfolio-wrapper .portfolio .categories {
    margin: auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .portfolio-wrapper .portfolio .categories {
    margin: auto;
  }
}

.portfolio-wrapper .portfolio .categories ul {
  list-style: none;
  padding: 0;
  margin-top: 3em;
}

@media (max-width: 360px) {
  .portfolio-wrapper .portfolio .categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .portfolio-wrapper .portfolio .categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .portfolio-wrapper .portfolio .categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-wrapper .portfolio .categories ul li {
  margin-bottom: 0.5em;
  word-spacing: 0.05em;
  white-space: nowrap;
  text-align: left;
}

@media (max-width: 360px) {
  .portfolio-wrapper .portfolio .categories ul li {
    margin: 0.25em 0.45em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .portfolio-wrapper .portfolio .categories ul li {
    margin: 0.25em 0.45em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .portfolio-wrapper .portfolio .categories ul li {
    margin: 0.25em 0.45em;
  }
}

.portfolio-wrapper .portfolio .categories ul li a {
  display: inline-block;
  width: 100%;
}

.portfolio-wrapper .portfolio .categories ul li a .react-icon {
  vertical-align: bottom;
  padding-bottom: 1px;
}

.portfolio-wrapper .portfolio .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  margin-top: 3em;
}

.portfolio-wrapper .portfolio .projects .project {
  margin: 3em 2em;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 16em;
  -webkit-box-shadow: 0px 0px 13px #020723;
          box-shadow: 0px 0px 13px #020723;
}

@media (min-width: 737px) and (max-width: 980px) {
  .portfolio-wrapper .portfolio .projects .project {
    width: 13em;
  }
  .portfolio-wrapper .portfolio .projects .project img {
    height: 13em;
    width: 13em;
  }
}

@media (min-width: 981px) and (max-width: 1280px) {
  .portfolio-wrapper .portfolio .projects .project {
    width: 13em;
  }
  .portfolio-wrapper .portfolio .projects .project img {
    height: 13em;
    width: 13em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .portfolio-wrapper .portfolio .projects .project {
    width: 20em;
  }
  .portfolio-wrapper .portfolio .projects .project img {
    height: 20em !important;
    width: 20em !important;
  }
}

@media (max-width: 360px) {
  .portfolio-wrapper .portfolio .projects .project {
    width: 15em;
  }
  .portfolio-wrapper .portfolio .projects .project img {
    height: 15em !important;
    width: 15em !important;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .portfolio-wrapper .portfolio .projects .project {
    width: 15em;
  }
  .portfolio-wrapper .portfolio .projects .project img {
    height: 15em !important;
    width: 15em !important;
  }
}

.portfolio-wrapper .portfolio .projects .project .title {
  color: #1e92f6;
  text-shadow: 1px 1px #020723;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  margin-top: 0;
}

.portfolio-wrapper .portfolio .projects .project img {
  display: block;
  margin: auto;
  height: 16em;
  width: 16em;
}

.portfolio-wrapper .portfolio .projects .project .info {
  background: #ee3e0e;
  color: white;
  margin-top: 0;
  text-align: left;
  padding-bottom: 0.75em;
}

.portfolio-wrapper .portfolio .projects .project .info p,
.portfolio-wrapper .portfolio .projects .project .info span {
  padding: 0 0.45em;
  margin-top: 0;
}
/*# sourceMappingURL=Portfolio.css.map */